@import url('colors.css');


/*style*/
body {
    background-image: url(../../images/Mono.png);
    color: var(--light-color);
}

.panel {
    background-color: var(--light-panel);
}

.control-center-frame:hover,
.lang-dialog-frame:hover,
.calendar-frame:hover,
.activities-frame:hover {
    background-color: var(--light-fg-color-2);
}

.control-center-frame:active,
.lang-dialog-frame:active,
.calendar-frame:active,
.activities-frame:active {
    background-color: var(--light-fg-color);
}

#control-center-appear,
#calendar-appear,
#lang-dialog-appear {
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}


/*control center*/
#control-center-appear {
    background-color: var(--light-bg-color);
    border: 1px solid var(--light-fg-color-2);
}

.screenshot-frame,
.settings-frame,
.lockscreen-frame,
.poweroff-frame,
.battery-frame,
.bluetooth-frame,
.power-frame,
.airplane-frame {
    color: var(--dark-bg-color);
    background-color: var(--light-fg-color);
}

.screenshot-frame:hover,
.settings-frame:hover,
.lockscreen-frame:hover,
.poweroff-frame:hover,
.battery-frame:hover,
.arrow-frame:hover,
.bluetooth-frame:hover,
.power-frame:hover,
.airplane-frame:hover {
    background-color: var(--light-fg-color-2);
}

.screenshot-frame:active,
.settings-frame:active,
.lockscreen-frame:active,
.poweroff-frame:active,
.battery-frame:active,
.arrow-frame:active,
.bluetooth-frame:active,
.power-frame:active,
.airplane-frame:active {
    background-color: var(--light-fg-color);
}

.wifi-frame,
.nightlight-frame,
.darkmode-frame {
    color: var(--light-bg-color);
    background-color: var(--accent-blue);
}

.wifi-frame:hover,
.nightlight-frame:hover,
.darkmode-frame:hover {
    background-color: var(--accent-blue-2);
}

.wifi-frame:active,
.nightlight-frame:active,
.darkmode-frame:active {
    background-color: var(--accent-blue);
}

.wifi-frame.clicked,
.nightlight-frame.clicked,
.darkmode-frame.clicked {
    background-color: var(--light-fg-color);
    color: var(--dark-bg-color);
}

.wifi-frame.clicked:hover,
.nightlight-frame.clicked:hover,
.darkmode-frame.clicked:hover {
    background-color: var(--light-fg-color-2);
}

.wifi-frame.clicked:active,
.nightlight-frame.clicked:active,
.darkmode-frame.clicked:active {
    background-color: var(--light-fg-color);
}

.bluetooth-frame.clicked,
.power-frame.clicked,
.airplane-frame.clicked {
    background-color: var(--accent-blue);
    color: var(--dark-color);
}

.bluetooth-frame.clicked:hover,
.power-frame.clicked:hover,
.airplane-frame.clicked:hover {
    background-color: var(--accent-blue-2);
}

.bluetooth-frame.clicked:active,
.power-frame.clicked:active,
.airplane-frame.clicked:active {
    background-color: var(--accent-blue);
}

.wifi-frame #wifi-icon {
    content: url(../../images/dark/wifi-icon.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wifi-frame.clicked #wifi-icon {
    content: url(../../images/light/wifi-disabled-icon.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wifi-frame #arrow-icon {
    content: url(../../images/dark/arrow-icon.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wifi-frame.clicked #arrow-icon {
    content: url(../../images/light/arrow-icon.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bluetooth-frame.clicked #bluetooth-icon {
    content: url(../../images/dark/bluetooth-enabled-icon.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.power-frame.clicked #power-icon {
    content: url(../../images/dark/power-saver-icon.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nightlight-frame #nightlight-icon {
    content: url(../../images/dark/nightlight-icon.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nightlight-frame.clicked #nightlight-icon {
    content: url(../../images/light/nightlight-icon.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.airplane-frame #airplane-icon {
    content: url(../../images/light/airplane-icon.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.airplane-frame.clicked #airplane-icon {
    content: url(../../images/dark/airplane-icon.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


/*slider*/
/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
    background: var(--light-bg-color);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(var(--light-color-2), var(--light-color-2)) 0/var(--sx) 100% no-repeat, var(--light-fg-color-2);
}

/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
    background: var(--light-bg-color);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
    background: linear-gradient(var(--light-color-2), var(--light-color-2)) 0/var(--sx) 100% no-repeat, var(--light-fg-color-2);
}

/*ms*/
input[type=range].styled-slider::-ms-thumb {
    background: var(--dark-color);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
    background: var(--light-color-2);
}


/*lang dialog*/
#lang-dialog-appear {
    background-color: var(--light-bg-color);
    border: 1px solid var(--light-fg-color-2);
}

.first-lang:hover,
.second-lang:hover,
.show-keyboard:hover {
    background-color: var(--light-fg-color-2);
}

.first-lang:active,
.second-lang:active,
.show-keyboard:active {
    background-color: var(--light-fg-color);
}

#control-center-appear,
#calendar-appear,
#lang-dialog-appear {
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

/*calendar*/
#calendar-appear {
    background-color: var(--light-bg-color);
    border: 1px solid var(--light-fg-color-2);
}

.player,
.player-image,
.notification-1,
.notification-2,
.clear-button,
.calendar-box,
.event-box,
.weather-box {
    background-color: var(--light-fg-color);
}

.player:hover,
.player-icons:hover,
.notification-1:hover,
.notification-2:hover,
.clear-button:hover,
.calendar-arrows:hover,
.day-inactive:hover,
.day-inactive:focus,
.event-box:hover,
.weather-box:hover {
    background-color: var(--light-fg-color-2);
}

.player:active,
.player-icons:active,
.notification-1:active,
.notification-2:active,
.clear-button:active,
.calendar-arrows:active,
.day:hover,
.day-inactive:hover,
.event-box:active,
.weather-box:active {
    background-color: var(--light-fg-color);
}

.day:focus {
    background-color: var(--light-fg-color-2);
}

.day {
    color: var(--light-color);
}
.day-active {
    color: var(--dark-color);
}

.day-active {
    background-color: var(--accent-blue);
}

.day-active:focus {
    background-color: var(--accent-blue-2);
}

.notification-text-time,
.day-inactive,
.event-text-bottom,
.weather-time {
    color: var(--light-color-2);
}

.notification-close-frame:hover {
    background-color: var(--accent-red-2);
}

.notification-close-frame:active {
    background-color: var(--accent-red);
}

.notification-close-icon {
    content: url(../../images/light/close-icon.svg);
}

.notification-close-icon:hover {
    content: url(../../images/dark/close-icon.svg);
}

.notification-close-icon:active {
    content: url(../../images/dark/close-icon.svg);
}


/*switch*/
.switch-slider {
    background-color: rgba(40, 40, 40, 0.2);
}

.switch-slider:hover {
    background-color: rgba(40, 40, 40, 0.3);
}

.switch-slider:active {
    background-color: rgba(40, 40, 40, 0.15);
}

.switch-slider:before {
    background-color: var(--dark-color-2);
}

.switch-slider:hover:before {
    background-color: var(--dark-color);
}

input:checked +.switch-slider {
    background-color: var(--accent-blue);
}

input:checked:hover +.switch-slider {
    background-color: var(--accent-blue-2);
}

input:checked:active +.switch-slider {
    background-color: var(--accent-blue);
}

input:checked+.switch-slider:before {
    background-color: var(--dark-color);
}


/*dash*/
.dash {
    background-color: var(--dark-color-2);
}

.launcher:hover,
.app:hover,
.trash:hover,
.separator {
    background-color: var(--light-fg-color-2);
}

.launcher:active,
.app:active,
.trash:active {
    background-color: var(--light-fg-color);
}


/*page*/
.slide {
    background: transparent;
}

a.slide-prev,
a.slide-next {
    background-color: rgba(255, 255, 255, 0.3);
}

a.slide-prev:hover,
a.slide-next:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

a.slide-prev:active,
a.slide-next:active {
    background-color: rgba(255, 255, 255, 0.3);
}


/*page1*/
.mono,
.description-text {
    backdrop-filter: blur(30px) brightness(100%);
    -webkit-backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.3);
}