#calendar-appear {
    backdrop-filter: blur(30px) brightness(100%);
    -webkit-backdrop-filter: blur(30px);
    font-size: 1em;
    font-weight: 700;
    border-radius: 0.8em;
    margin-right: 2%;
    display: none;
    transform: translate(0px, 0px);
    opacity: 0;
    transition: 0.3s;
}

.calendar-display {
    display: flex;
}

.calendar-left,
.calendar-right {
    padding: 1em;
}

.calendar-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player {
    border-radius: 0.6em;
    padding: 0.7em;
    margin-bottom: 0.9em;
    display: flex;
    transition: 0.2s;
    cursor: pointer;
}

.player-image {
    border-radius: 0.5em;
    padding: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

.notification-icons {
    width: 2em;
    height: 2em;
}

.player-right {
    display: flex;
    justify-content: space-between;
}

.player-text {
    font-size: 1em;
    display: grid;
    margin-left: 0.5em;
    gap: 0.3em;
    padding-right: 5em;
    padding-top: 0.3em;
}

.player-text-top {
    font-weight: 800;
    display: flex;
    align-items: center;
}

.player-text-bottom {
    font-weight: 500;
}

.player-buttons {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.player-icons {
    background-color: transparent;
    padding: 0.5em;
    border-radius: 0.4em;
    height: 1.2em;
    width: 1.2em;
}

.notification-1,
.notification-2 {
    border-radius: 0.6em;
    padding: 0.7em;
    padding-top: 0.8em;
    padding-bottom: 1em;
    margin-bottom: 0.9em;
    display: flex;
    transition: 0.2s;
    cursor: pointer;
}

.notification-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

.notification-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.notification-text {
    font-size: 1em;
    display: grid;
    margin-left: 0.3em;
    margin-top: 0.3em;
    gap: 0.3em;
}

.notification-text-top {
    font-weight: 800;
    display: flex;
    align-items: center;
}

.notification-text-top-left {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.notification-text-time {
    margin-top: 0.1em;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
    font-weight: 500;
}

.notification-close-frame {
    background-color: transparent;
    border-radius: 100%;
    transition: 0.2s;
    height: 1.8em;
    width: 1.8em;
    justify-content: center;
    align-items: center;
    display: flex;
}

.notification-close-icon {
    opacity: 0;
    height: 1.1em;
    width: 1.1em;
}

.notification-1:hover .notification-close-icon,
.notification-2:hover .notification-close-icon {
    opacity: 1;
}

.notification-text-bottom {
    font-weight: 500;
}

.calendar-left-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dnd {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.dnd-text {
    cursor: default;
    font-weight: 500;
}

.clear-button {
    border-radius: 0.4em;
    padding: 0em 2em;
    height: 2em;
    transition: 0.2s;
    cursor: pointer;
    align-items: center;
    display: flex;
}

.calendar-date {
    padding-left: 0.3em;
    padding-bottom: 0.9em;
    padding-top: 0.3em;
}

.calendar-week {
    font-weight: 500;
    padding-bottom: 0.2em;
}

.calendar-m-d-y {
    font-weight: 400;
    font-size: 1.4em;
}

.calendar-box {
    font-weight: 500;
    font-size: 0.9em;
    border-radius: 0.6em;
}

.calendar-top {
    display: flex;
    justify-content: space-between;
    padding: 0.6em;
    align-items: center;
}

.calendar-arrows {
    display: flex;
    align-items: center;
    padding: 0.6em;
    border-radius: 0.5em;
    cursor: pointer;
    transition: 0.2s;
}

.weekdays {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin: 0 1.3em;
    padding: 0 0.3em;
}

.week {
    border-radius: 100%;
    padding-bottom: 0.5em;
    text-align: center;
}

.days {
    margin: 0;
    display: flex;
    gap: 0.2em;
    text-align: center;
    padding: 0.7em;
    padding-top: 0;
}

.days-1,
.days-2,
.days-3,
.days-4,
.days-5,
.days-6,
.days-7 {
    display: inline-grid;
    justify-content: space-between;
    gap: 0.2em;
}

.day {
    font-size: 1em;
    background-color: transparent;
    border-radius: 100%;
    padding: 0.7em;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}

.day-active {
    font-size: 1em;
    border-radius: 100%;
    padding: 0.7em;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}

.day-inactive {
    font-size: 1em;
    background-color: transparent;
    border-radius: 100%;
    padding: 0.7em;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}

.event-box {
    font-weight: 500;
    font-size: 1em;
    border-radius: 0.6em;
    margin-top: 0.9em;
    padding: 0.9em;
    display: grid;
    gap: 0.3em;
    cursor: pointer;
    transition: 0.2s;
}

.event-text-top {
    margin-bottom: 0.3em;
}

.event-text-bottom {
    font-size: 0.8em;
    margin-left: 0.5em;
}

.weather-box {
    font-weight: 500;
    font-size: 1em;
    border-radius: 0.6em;
    margin-top: 0.9em;
    padding: 0.9em;
    cursor: pointer;
    transition: 0.2s;
}

.weather-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.weather-bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 0.3em;
}

.weather {
    display: grid;
    gap: 0.3em;
    text-align: center;
}

.weather-time {
    font-size: 0.8em;
}

.weather-icon {
    width: 2.2em;
    height: 2.2em;
}

/*for old pcs, laptops*/
@media only screen and (min-device-width: 700px) and (max-device-width: 1440px) {
    #calendar-appear {
        font-size: 0.8em;
    }
}

/*iphones*/
@media only screen and (min-device-width: 0px) and (max-device-width: 430px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    #calendar-appear {
        font-size: 0.8em;
        margin-right: 0;
        margin: 0 1%;
    }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 430px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    #calendar-appear {
        font-size: 0.65em;
        margin-right: 0;
    }

    .event-box {
        display: none;
    }
}

/*ipads*/
@media only screen and (min-device-width: 700px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    #calendar-appear {
        font-size: 0.95em;
        margin-right: 0;
    }
}

@media only screen and (min-device-width: 700px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    #calendar-appear {
        font-size: 0.95em;
        margin-right: 0;
    }
}

/*androids*/
@media screen and (min-width: 320px) and (max-width: 480px) {
    #calendar-appear {
        font-size: 0.8em;
        margin-right: 0;
        margin: 0 1%;
    }
}

@media screen and (min-width: 480px) and (max-width: 800px) {
    #calendar-appear {
        font-size: 0.65em;
        margin-right: 0;
    }

    .event-box {
        display: none;
    }
}