#control-center-appear {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    border-radius: 0.8em;
    margin-right: 0.5%;
    margin-top: 0px;
    padding: 1.5em;
    display: none;
    transform: translate(0px, 0px);
    opacity: 0;
    transition: 0.3s;
}

.control-center-top {
    align-items: center;
    display: flex;
}

.battery-frame {
    align-items: center;
    border-radius: 0.8em;
    display: flex;
    gap: 0.6em;
    overflow: hidden;
    justify-content: center;
    padding: 0.8em 0.9em;
    transition: 0.2s;
    cursor: pointer;
}

.battery-text {
    letter-spacing: 1px;
    font-weight: 800;
}

.control-center-topright {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    gap: 0.8em;
}

.screenshot-frame,
.settings-frame,
.lockscreen-frame,
.poweroff-frame {
    align-items: center;
    border-radius: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    padding: 0.9em;
    transition: 0.2s;
    cursor: pointer;
}

.controls-frame {
    align-items: flex-start;
    display: flex;
    gap: 0.8em;
    margin-top: 1.2em;
}

.controls-row {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.controls-icons {
    height: 1.25em;
    width: 1.25em;
    margin: 0 0.5em;
}

.arrow-frame {
    height: 3.4em;
    width: 2.6em;
    left: 4em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    height: 1.4em;
    width: 1.4em;
    position: absolute;
}

.wifi-frame,
.nightlight-frame,
.darkmode-frame,
.bluetooth-frame,
.power-frame,
.airplane-frame {
    font-family: "Inter";
    font-size: 0.7vw;
    font-weight: 700;
    font-style: normal;
    border: none;
    align-items: center;
    border-radius: 0.9em;
    padding: 1.7em 0.75em;
    display: flex;
    height: 0px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
    width: 12.2em;
    text-decoration: none;
}

@media only screen and (min-device-width: 320px) and (min-device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .wifi-frame,
    .nightlight-frame,
    .darkmode-frame,
    .bluetooth-frame,
    .power-frame,
    .airplane-frame {
        font-size: 2.5vw;
    }
}

@media only screen and (min-device-width: 480px) and (min-device-height: 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .wifi-frame,
    .nightlight-frame,
    .darkmode-frame,
    .bluetooth-frame,
    .power-frame,
    .airplane-frame {
        font-size: 1.2vw;
    }
}