#control-center-appear {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    background-color: #252525;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    margin-right: 10px;
    margin-top: 0px;
    overflow: hidden;
    padding: 22px;
    display: none;
    transform: translate(0px, 0px);
    opacity: 0;
    transition: 0.3s;
}

.control-center-top {
    align-items: center;
    display: flex;
}

.battery-frame {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    display: flex;
    gap: 8px;
    overflow: hidden;
    justify-content: center;
    padding: 12px 15px;
    transition: 0.2s;
    cursor: pointer;
}

.battery-frame:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.battery-frame:active {
    background-color: rgba(255, 255, 255, 0.05);
}

.battery-text {
    letter-spacing: 1px;
    font-weight: 800;
}

.control-center-topright {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    gap: 15px;
}

.screenshot-frame,
.settings-frame,
.lockscreen-frame,
.poweroff-frame {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 99px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    padding: 13px;
    transition: 0.2s;
    cursor: pointer;
}

.screenshot-frame:hover,
.settings-frame:hover,
.lockscreen-frame:hover,
.poweroff-frame:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.screenshot-frame:active,
.settings-frame:active,
.lockscreen-frame:active,
.poweroff-frame:active {
    background-color: rgba(255, 255, 255, 0.05);
}

.screenshot-frame:focus,
.settings-frame:focus,
.lockscreen-frame:focus,
.poweroff-frame:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

.controls-frame {
    align-items: flex-start;
    display: flex;
    gap: 12px;
    margin-top: 20px;
}

.controls-row {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.controls-icons {
    height: 16px;
    width: 16px;
    margin: 0 7px;
}

.arrow-frame {
    height: 50px;
    width: 35px;
    left: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-frame:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.arrow-frame:active {
    background-color: rgba(255, 255, 255, 0.05);
}

.arrow {
    height: 18px;
    width: 18px;
    position: absolute;
}

.wifi-frame,
.nightlight-frame,
.darkmode-frame {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    color: white;
    border: none;
    align-items: center;
    background-color: #1B82B3;
    border-radius: 13px;
    padding: 24px 10px;
    display: flex;
    height: 0px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
    width: 170px;
}

.wifi-frame:hover,
.nightlight-frame:hover,
.darkmode-frame:hover {
    background-color: #2094C9;
}

.wifi-frame:active,
.nightlight-frame:active,
.darkmode-frame:active {
    background-color: #1B82B3;
}

.bluetooth-frame,
.power-frame,
.airplane-frame {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    color: white;
    border: none;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 13px;
    padding: 24px 10px;
    display: flex;
    height: 0px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
    width: 170px;
}

.bluetooth-frame:hover,
.power-frame:hover,
.airplane-frame:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.bluetooth-frame:active,
.power-frame:active,
.airplane-frame:active {
    background-color: rgba(255, 255, 255, 0.05);
}