.dash {
    font-size: 1em;
    backdrop-filter: blur(30px) brightness(100%);
    -webkit-backdrop-filter: blur(30px);
    display: flex;
    padding: 0.7em;
    border-radius: 1.6em;
    column-gap: 0.5em;
}

.launcher,
.app,
.trash {
    padding: 0.5em;
    padding-bottom: 0.3em;
    border-radius: 1.2em;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
}

.launcher-icon,
.firefox-icon,
.files-icon,
.terminal-icon,
.settings-icon,
.trash-icon {
    width: 4em;
    height: 4em;
}

.separator {
    width: 1px;
    margin: 0.3em;
}

/*for old pcs, laptops*/
@media only screen and (min-device-width: 700px) and (max-device-width: 1440px) {
    .dash {
        font-size: 0.8em;
    }
}

/*iphones*/
@media only screen and (min-device-width: 0px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .dash {
        font-size: 1em;
    }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .dash {
        font-size: 0.7em;
    }
}

/*ipads*/
@media only screen and (min-device-width: 700px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .dash {
        font-size: 0.95em;
    }
}

@media only screen and (min-device-width: 700px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .dash {
        font-size: 0.95em;
    }
}