#lang-dialog-appear {
    font-weight: 400;
    background-color: #252525;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    margin-right: 35px;
    margin-top: 10px;
    overflow: hidden;
    padding: 6px;
    gap: 5px;
    display: none;
    transform: scale(0);
    transition: 0.2s;
}

.first-lang,
.second-lang,
.show-keyboard {
    display: flex;
    justify-content: space-between;
    padding: 8px 15px 8px 30px;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}

.first-lang:hover,
.second-lang:hover,
.show-keyboard:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.first-lang:active,
.second-lang:active,
.show-keyboard:active {
    background-color: rgba(255, 255, 255, 0.05);
}

.first-lang {
    padding-left: 0;
}

.selected-lang {
    display: flex;
    gap: 11px;
    padding-left: 10px;
}