#lang-dialog-appear {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 400;
    border-radius: 12px;
    margin-right: 35px;
    overflow: hidden;
    padding: 6px;
    gap: 5px;
    display: none;
    transform: translate(0px, 0px);
    opacity: 0;
    transition: 0.3s;
}

.first-lang,
.second-lang,
.show-keyboard {
    display: flex;
    justify-content: space-between;
    padding: 8px 15px 8px 30px;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}

.first-lang {
    padding-left: 0;
}

.selected-lang {
    display: flex;
    gap: 11px;
    padding-left: 10px;
}

@media only screen and (max-device-width: 414px) and (max-device-width: 896px) and (-webkit-min-device-pixel-ratio: 2) {
    #lang-dialog-appear {
        border-radius: 8px;
        margin-right: 45px;
        padding: 4px;
        gap: 4px;
    }

    .first-lang,
    .second-lang,
    .show-keyboard {
        padding: 5px 10px 5px 20px;
        border-radius: 8px;
    }

    .first-lang {
        padding-left: 0;
    }

    .selected-lang {
        gap: 7px;
        padding-left: 6px;
    }
}

@media only screen and (min-device-width: 828px) and (max-device-width: 896px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    #lang-dialog-appear {
        border-radius: 8px;
        margin-right: 45px;
        padding: 4px;
        gap: 4px;
    }

    .first-lang,
    .second-lang,
    .show-keyboard {
        padding: 5px 10px 5px 20px;
        border-radius: 8px;
    }

    .first-lang {
        padding-left: 0;
    }

    .selected-lang {
        gap: 7px;
        padding-left: 6px;
    }
}