#lang-dialog-appear {
    font-size: 1em;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 400;
    border-radius: 0.8em;
    margin-right: 2.5%;
    padding: 0.35em;
    display: none;
    transform: translate(0px, 0px);
    opacity: 0;
    transition: 0.3s;
}

.first-lang,
.second-lang,
.show-keyboard {
    display: flex;
    justify-content: space-between;
    padding: 0.6em 1.5em 0.6em 2em;
    border-radius: 0.6em;
    transition: 0.2s;
    cursor: pointer;
}

.first-lang {
    padding-left: 0;
}

.selected-lang {
    display: flex;
    gap: 0.7em;
    padding-left: 0.7em;
}

@media only screen and (min-device-width: 320px) and (min-device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    #lang-dialog-appear {
        font-size: 1em;
    }

    #lang-dialog-appear {
        margin-right: 8%;
    }
}

@media only screen and (min-device-width: 480px) and (min-device-height: 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    #lang-dialog-appear {
        font-size: 0.8em;
    }

    #lang-dialog-appear {
        margin-right: 4%;
    }
}