.page-1 {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 10%;
}

.title {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.mono {
    font-size: 8vw;
    display: flex;
    padding: 5% 8%;
    border-radius: 0.25em;
}

.description {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.description-text {
    font-size: 2vw;
    text-align: center;
    padding: 5% 8%;
    border-radius: 0.9em;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 430px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .page-1 {
        display: grid;
    }

    .title {
        margin-top: 30%;
    }

    .mono {
        font-size: 16vw;
    }

    .description-text {
        font-size: 4vw;
        margin-bottom: 30%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 430px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .mono {
        font-size: 8vw;
    }

    .description-text {
        font-size: 2vw;
    }
}