.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slides {
    height: 100%;
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

::-webkit-scrollbar {
    display: none;
}

.slide:nth-of-type(even) {
    background-color: transparent;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    scroll-snap-align: center;
    box-sizing: border-box;
    transform-origin: center center;
    transform: scale(1);
}

.slide a {
    background: none;
    border: none;
}

a.slide-prev {
    backdrop-filter: blur(30px) brightness(100%);
    -webkit-backdrop-filter: blur(30px);
    left: 4%;
    border-radius: 100%;
}

a.slide-next {
    backdrop-filter: blur(30px) brightness(100%);
    -webkit-backdrop-filter: blur(30px);
    right: 4%;
    border-radius: 100%;
}

.slide-prev,
.slide-next {
    position: absolute;
    padding: 0.8em 0.8em 0.7em 0.8em;
    box-sizing: border-box;
    cursor: pointer;
}