.slider-volume-frame,
.slider-brightness-frame {
    margin-top: 1em;
    margin-left: 0.6em;
    margin-right: 0.6em;
    gap: 0.75em;
    display: flex;
    align-items: center;
}

.slider-volume,
.slider-brightness {
    width: 100%;
}

input[type=range].styled-slider {
    height: 2.2em;
    -webkit-appearance: none;
    background: transparent;
}

/*progress support*/
input[type=range].styled-slider.slider-progress {
    font-size: 0.9em;
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 1.5em + var(--ratio) * (100% - 1.5em));
    width: 100%;
}

input[type=range].styled-slider:focus {
    outline: none;
}

/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    border: none;
    cursor: grab;
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
    height: 1.5em;
    border: none;
    border-radius: 99px;
}

/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
    -webkit-appearance: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    border: none;
    cursor: grab;
}

input[type=range].styled-slider::-moz-range-track {
    height: 1.5em;
    border: none;
    border-radius: 99px;
}

/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
    -webkit-appearance: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    border: none;
    cursor: grab;
}

input[type=range].styled-slider::-ms-track {
    height: 1.5em;
    border: none;
    border-radius: 99px;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
    height: 1.5em;
    border-radius: 99px 0 0 99px;
    margin: -1px 0 -1px -1px;
    border: none;
    border-right-width: 0;
}


/*iphones*/
@media only screen and (min-device-width: 0px) and (max-device-width: 430px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    input[type=range].styled-slider.slider-progress {
        font-size: 0.9em;
    }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 430px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    input[type=range].styled-slider.slider-progress {
        font-size: 0.9em;
    }
}