.slider-volume-frame, .slider-brightness-frame {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 12px;
    display: flex;
    align-items: center;
}

.slider-volume, .slider-brightness {
    width: 100%;
}

input[type=range].styled-slider {
    height: 2.2em;
    -webkit-appearance: none;
    background: transparent;
}

/*progress support*/
input[type=range].styled-slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
    width: 100%;
}

input[type=range].styled-slider:focus {
    outline: none;
}

/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 99px;
    background: white;
    border: none;
    cursor: grab;
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
    height: 20px;
    border: none;
    border-radius: 99px;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) 0/var(--sx) 100% no-repeat, rgba(255, 255, 255, 0.05);
}

/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 99px;
    background: white;
    border: none;
    cursor: grab;
}

input[type=range].styled-slider::-moz-range-track {
    height: 20px;
    border: none;
    border-radius: 99px;
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) 0/var(--sx) 100% no-repeat, rgba(255, 255, 255, 0.05);
}

/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 99px;
    background: white;
    border: none;
    cursor: grab;
}

input[type=range].styled-slider::-ms-track {
    height: 20px;
    border: none;
    border-radius: 99px;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
    height: 20px;
    border-radius: 99px 0 0 99px;
    margin: -1px 0 -1px -1px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-right-width: 0;
}