@import url("https://fonts.googleapis.com/css?family=Inter:800");
@import url("https://fonts.googleapis.com/css?family=Inter:700");
@import url("https://fonts.googleapis.com/css?family=Inter:600");
@import url("https://fonts.googleapis.com/css?family=Inter:500");
@import url("https://fonts.googleapis.com/css?family=Inter:400");

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;
}

body {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    outline: none;
}

.project-top-frame {
    display: flex;
    flex-direction: column;
}

.panel {
    backdrop-filter: blur(30px) brightness(100%);
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.panel-right {
    align-items: flex-end;
    display: flex;
    justify-content: right;
    gap: 5px;
    margin: 2px 5px;
}

.control-top-icons,
.battery-icon {
    height: 16px;
    width: 16px;
}

.control-center-frame {
    align-items: center;
    border-radius: 5px;
    display: flex;
    gap: 16px;
    overflow: hidden;
    padding: 0px 15px;
    height: 27px;
    transition: 0.2s;
    cursor: pointer;
}

.lang-dialog-frame {
    align-items: center;
    border-radius: 5px;
    display: flex;
    gap: 16px;
    overflow: hidden;
    padding: 5px 15px;
    transition: 0.2s;
    cursor: pointer;
}

.panel-center {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 2px 5px;
}

.calendar-frame {
    align-items: center;
    border-radius: 5px;
    display: flex;
    gap: 16px;
    overflow: hidden;
    padding: 5px 15px;
    transition: 0.2s;
    cursor: pointer;
    margin-left: 30px;
}

.activities-frame {
    align-items: center;
    border-radius: 5px;
    display: flex;
    gap: 16px;
    overflow: hidden;
    padding: 5px 15px;
    margin-left: auto;
    margin-right: 0;
    transition: 0.2s;
    cursor: pointer;
    margin: 2px 5px;
}

.popups {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.project-bottom-frame {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}