* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;
    width: 100%;
}

body {
    background: #071A2B;
    font-family: "Inter";
    font-size: 0.9em;
    font-weight: 700;
    font-style: normal;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

input[type="checkbox"],
input,
label,
textarea,
button,
select,
a,
div {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    outline: none;
}

.desktop {
    height: 100%;
    width: 100%;
    display: grid;
}

.project-top-frame {
    display: flex;
    flex-direction: column;
}

.panel {
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 0.2em 0;
}

.panel-right {
    align-items: flex-end;
    display: flex;
    justify-content: right;
    column-gap: 0.5em;
    margin-right: 0.5em;
}

.panel-center {
    display: flex;
    justify-content: center;
    margin-left: 4em;
}

.panel-left {
    margin-left: 0.5em;
}

.control-top-icons,
.battery-icon {
    height: 1.25em;
    width: 1.25em;
}

.control-center-frame,
.lang-dialog-frame,
.calendar-frame,
.activities-frame {
    align-items: center;
    border-radius: 0.4em;
    display: flex;
    column-gap: 1em;
    height: 1.9em;
    padding: 0 1.2em;
    transition: 0.2s;
    cursor: pointer;
}

.popups {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.project-bottom-frame {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 0.5%;
}


/*iphones*/
@media only screen and (min-device-width: 0px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    body {
        font-size: 2.5vw;
    }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    body {
        font-size: 1.2vw;
    }
}