@import url("https://fonts.googleapis.com/css?family=Inter:700");
@import url("https://fonts.googleapis.com/css?family=Inter:400");

html {
    height: 100%;
}

body {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    color: white;
    background-image: url(../images/MonoDark.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
}

.project-frame {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.panel {
    align-items: center;
    justify-content: right;
    backdrop-filter: blur(30px) brightness(100%);
    background-color: rgba(40, 40, 40, 0.3);
    display: flex;
    width: 100%;
}

.panel-right {
    display: flex;
    justify-content: right;
    gap: 5px;
    padding: 2px 5px;
}

.control-top-icons {
    height: 16px;
    width: 16px;
}

.control-center-frame {
    align-items: center;
    border-radius: 5px;
    display: flex;
    gap: 16px;
    overflow: hidden;
    padding: 5px 15px;
    margin-left: auto;
    margin-right: 0;
    transition: 0.2s;
    cursor: pointer;
}

.control-center-frame:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.control-center-frame:active {
    background-color: rgba(255, 255, 255, 0.05);
}

.lang-dialog-frame {
    align-items: center;
    border-radius: 5px;
    display: flex;
    gap: 16px;
    overflow: hidden;
    padding: 5px 15px;
    margin-left: auto;
    margin-right: 0;
    transition: 0.2s;
    cursor: pointer;
}

.lang-dialog-frame:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.lang-dialog-frame:active {
    background-color: rgba(255, 255, 255, 0.05);
}

.popups {
    position: relative;
} 