html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;
    width: 100%;
}

body {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

input[type="checkbox"],
input,
label,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    outline: none;
}

.desktop {
    height: 100%;
    width: 100%;
}

.project-top-frame {
    display: flex;
    flex-direction: column;
}
