.project-center-frame {
    flex-grow: 1;
}

.windows {
    font-size: 1vw;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#firefox-window-appear {
    opacity: 0;
    transition: 0.3s;
    display: none;
    grid-row-start: 1;
    grid-column-start: 1;
}

.firefox-window-image {
    width: 57%;
    border-radius: 0.65em;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

#files-window-appear {
    opacity: 0;
    transition: 0.3s;
    display: none;
    grid-row-start: 1;
    grid-column-start: 1;
}

.files-window-image {
    width: 45%;
    border-radius: 0.68em;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

/*for old pcs, laptops*/
@media only screen and (min-device-width: 700px) and (max-device-width: 1440px) {
    .firefox-window-image {
        width: 53%;
    }

    .files-window-image {
        width: 38%;
    }
}

/*iphones*/
@media only screen and (min-device-width: 0px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .firefox-window-image {
        width: 100%;
    }

    .files-window-image {
        width: 85%;
    }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .firefox-window-image {
        width: 40%;
    }

    .files-window-image {
        width: 25%;
    }
}

/*ipads*/
@media only screen and (min-device-width: 700px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .firefox-window-image {
        width: 100%;
    }

    .files-window-image {
        width: 85%;
    }
}

@media only screen and (min-device-width: 700px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .firefox-window-image {
        width: 80%;
    }

    .files-window-image {
        width: 65%;
    }
}