.window {
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    transform: translate(0px, 0px);
    opacity: 0;
    transition: 0.3s;
}

.window-image {
    width: 55%;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

/*for old pcs, laptops*/
@media only screen and (min-device-width: 700px) and (max-device-width: 1440px) {
    .window-image {
        width: 50%;
    }
}

/*iphones*/
@media only screen and (min-device-width: 0px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .window-image {
        width: 100%;
        margin-top: 25%;
    }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .window-image {
        width: 45%;
    }
}

/*ipads*/
@media only screen and (min-device-width: 700px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .window-image {
        width: 100%;
        margin-top: 15%;
    }
}

@media only screen and (min-device-width: 700px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .window-image {
        width: 80%;
    }
}